<nav class="navbar navbar-expand-sm">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a routerLink="/navbar" class="navbar-brand">
        <!-- <img src="assets/img/logo2.png" title="CouponStack" width="140" height="80" class="d-inline-block align-top" alt="logo"><br> -->
       <strong> {{ title }} </strong>
    </a>
    <div class="collapse navbar-collapse text-center" id="navbarTogglerDemo01">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" title="Current Location" href="#">Location<span class="sr-only">(current)</span></a>
                <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Location</button> -->
            </li>&nbsp; &nbsp;
            <!-- <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li> -->
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>