<nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="navbar-nav active mx-auto">
                        <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Food & Groceries
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#">Macdonals</a>
                                        <a class="dropdown-item" href="#">swiggy</a>
                                        <a class="dropdown-item" href="#">Pizza Hut</a>
                                        <a class="dropdown-item" href="#">Big basket</a>
                                </div>
                        </li>
                        <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Beauty & Grooming
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#">Oriflame</a>
                                        <a class="dropdown-item" href="#">coloressence</a>
                                        <a class="dropdown-item" href="#">Blue heaven</a>
                                        <a class="dropdown-item" href="#">LakMe</a>
                                </div>
                        </li>
                        <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Baby Products
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#">Johnson</a>
                                        <a class="dropdown-item" href="#">Himalaya</a>
                                        <a class="dropdown-item" href="#">Dave</a>
                                        <a class="dropdown-item" href="#">Mee Mee</a>
                                </div>
                        </li>
                        <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Electronic
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#">Laptops</a>
                                        <a class="dropdown-item" href="#">Mobiles</a>
                                        <a class="dropdown-item" href="#">House Appliances</a>
                                        <a class="dropdown-item" href="#">Others</a>
                                </div>
                        </li>
                        <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Clothing & shoes
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#">Mens</a>
                                        <a class="dropdown-item" href="#">Womens</a>
                                        <a class="dropdown-item" href="#">Childrens</a>
                                </div>
                        </li>
                        <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Travel & Leisure
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#">RedBus</a>
                                        <a class="dropdown-item" href="#">MakeMyTrip</a>
                                        <a class="dropdown-item" href="#">Nita Travels</a>
                                        <a class="dropdown-item" href="#">Msrtc Shivshahi</a>
                                </div>
                        </li>
                        <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                               Store
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <a class="dropdown-item" href="#">On-Line</a>
                                                <a class="dropdown-item" href="#">Off-Line</a>
                                        </div>
                                </li>
        
                </ul>
        </div>
</nav>

<!-- <ul class="list-group">
        <li class="list-group-item">Food & Groceries
                <ul class="list-group">
                        <li class="list-group-item">Macdonals</li>
                        <li class="list-group-item">swizzy</li>
                        <li class="list-group-item">Pizza Hut</li>
                        <li class="list-group-item">Big basket</li>
                </ul>
        </li>
        <li class="list-group-item">Beauty & Grooming
                <ul class="list-group">
                        <li class="list-group-item">Lakme</li>
                        <li class="list-group-item">Oriflame</li>
                        <li class="list-group-item">coloressence</li>
                        <li class="list-group-item">Blue heaven</li>
                </ul>
        </li>
        <li class="list-group-item">Beauty & Grooming
                <ul class="list-group">
                        <li class="list-group-item">Lakme</li>
                        <li class="list-group-item">Oriflame</li>
                        <li class="list-group-item">coloressence</li>
                        <li class="list-group-item">Blue heaven</li>
                </ul>
        </li>
        <li class="list-group-item">Baby Products
                <ul class="list-group">
                        <li class="list-group-item">Johnson</li>
                        <li class="list-group-item">Himalaya</li>
                        <li class="list-group-item">Dave</li>
                        <li class="list-group-item">Mee Mee</li>
                </ul>
        </li>
        <li class="list-group-item">Electronic
                <ul class="list-group">
                        <li class="list-group-item">Laptop</li>
                        <li class="list-group-item">House appliances</li>
                        <li class="list-group-item">Mobile</li>
                        <li class="list-group-item">others</li>
                </ul>
        </li>
        <li class="list-group-item">Clothing & shoes
                <ul class="list-group">
                        <li class="list-group-item">Mens</li>
                        <li class="list-group-item">Womens</li>
                        <li class="list-group-item">Childrens</li>
                </ul>
        </li>
        <li class="list-group-item">Travel & Leisure
                <ul class="list-group">
                        <li class="list-group-item">RedBus</li>
                        <li class="list-group-item">MakeMyTrip</li>
                        <li class="list-group-item">Nita Travels</li>
                        <li class="list-group-item">Msrtc Shivshahi</li>
                </ul>
        </li>
</ul>

<nav class="navbar navbar-fixed-top">
        <div class="container">
                <ul class="dropdown-group">
                        <li class="dropdown-menu">Food & Groceries
                                <ul class="dropdown-group">
                                        <li class="dropdown-group-item">Macdonals</li>
                                        <li class="dropdown-group-item">swizzy</li>
                                        <li class="dropdown-group-item">Pizza Hut</li>
                                        <li class="dropdown-group-item">Big basket</li>
                                </ul>
                        </li>
                        <li class="list-group-item">Beauty & Grooming
                                <ul class="list-group">
                                        <li class="list-group-item">Lakme</li>
                                        <li class="list-group-item">Oriflame</li>
                                        <li class="list-group-item">coloressence</li>
                                        <li class="list-group-item">Blue heaven</li>
                                </ul>
                        </li>
                        <li class="list-group-item">Beauty & Grooming
                                <ul class="list-group">
                                        <li class="list-group-item">Lakme</li>
                                        <li class="list-group-item">Oriflame</li>
                                        <li class="list-group-item">coloressence</li>
                                        <li class="list-group-item">Blue heaven</li>
                                </ul>
                        </li>
                        <li class="list-group-item">Baby Products
                                <ul class="list-group">
                                        <li class="list-group-item">Johnson</li>
                                        <li class="list-group-item">Himalaya</li>
                                        <li class="list-group-item">Dave</li>
                                        <li class="list-group-item">Mee Mee</li>
                                </ul>
                        </li>
                        <li class="list-group-item">Electronic
                                <ul class="list-group">
                                        <li class="list-group-item">Laptop</li>
                                        <li class="list-group-item">House appliances</li>
                                        <li class="list-group-item">Mobile</li>
                                        <li class="list-group-item">others</li>
                                </ul>
                        </li>
                        <li class="list-group-item">Clothing & shoes
                                <ul class="list-group">
                                        <li class="list-group-item">Mens</li>
                                        <li class="list-group-item">Womens</li>
                                        <li class="list-group-item">Childrens</li>
                                </ul>
                        </li>
                        <li class="list-group-item">Travel & Leisure
                                <ul class="list-group">
                                        <li class="list-group-item">RedBus</li>
                                        <li class="list-group-item">MakeMyTrip</li>
                                        <li class="list-group-item">Nita Travels</li>
                                        <li class="list-group-item">Msrtc Shivshahi</li>
                                </ul>
                        </li>
                </ul>
        </div>
</nav> -->
